In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from __init__ import *

In [3]:
nu_fe_sa = pd.read_csv("../output/number_feature_sample.tsv", sep="\t", index_col=0)

bi_fe_sa = pd.read_csv("../input/01_feature_sample.tsv", sep="\t", index_col=0)

In [4]:
bi_co_sa = pd.DataFrame(columns=nu_fe_sa.columns)

for co in SETTING["co_"]:

    if isinstance(co, str):

        bi_co_sa.loc[co, :] = bi_fe_sa.loc[co, :]

    else:

        fe0_, fe1_ = co

        co = "{} vs {}".format(",".join(fe0_), ",".join(fe1_))

        for fe_, it in [[fe0_, 0], [fe1_, 1]]:

            bi_co_sa.loc[co, bi_fe_sa.loc[fe_, :].all()] = it

bi_co_sa.index.name = "Comparison"

bi_co_sa.to_csv(path_or_buf="../output/01_comparison_sample.tsv", sep="\t")

bi_co_sa

                  S1 S2 S3 S4 S5 S6   S7   S8
Comparison
CFS                1  1  1  1  1  1    0    0
CFS,TA vs CFS,CD4  0  1  0  1  0  1  NaN  NaN