In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from __init__ import *

In [3]:
bi_co_sa = pd.read_csv("../output/01_comparison_sample.tsv", sep="\t", index_col=0)

nu_fe_sa = pd.read_csv("../output/number_feature_sample.tsv", sep="\t", index_col=0)

se_fe_ = kwat.gmt.read(kwat.path.list("../input/set/"))

In [4]:
for se in se_fe_:

    if re.search(
        r"^{0}$|.*{1}{0}{1}.*|^{0}{1}.*|.*{1}{0}$".format("FATIGUE[0-9]*", "[\s_]"),
        se,
    ):

        print(se)

HP_APNEIC_EPISODES_PRECIPITATED_BY_ILLNESS_FATIGUE_STRESS
HP_EXERCISE_INDUCED_MUSCLE_FATIGUE
HP_FATIGUE
HP_CHRONIC_FATIGUE

In [5]:
fe__ = se_fe_.values()

fe_no = {fe: None for fe in nu_fe_sa.index.values}

st_se_in = pd.DataFrame(
    data={
        "Selected": False,
        "N": [len(fe_) for fe_ in fe__],
        "n": [sum(fe in fe_no for fe in fe_) for fe_ in fe__],
    },
    index=se_fe_,
)

st_se_in.loc[:, "."] = st_se_in.loc[:, "n"].values / st_se_in.loc[:, "N"].values

st_se_in

                 Selected    N   n         .
chr1p12             False   49  10  0.204082
chr1p13             False  205  98  0.478049
chr1p21             False   99  29  0.292929
chr1p22             False  129  56  0.434109
chr1p31             False  217  60  0.276498
...                   ...  ...  ..       ...
IPA_HDAC8_UP        False    2   0  0.000000
IPA_HDAC8_DN        False    2   2  1.000000
IPA_HDAC10_DN       False    1   1  1.000000
IPA_HIST2H4B_UP     False    3   2  0.666667
IPA_HIST2H4B_DN     False    2   1  0.500000

[33594 rows x 4 columns]

In [6]:
st_se_in.loc[
    kwat.array.check_is_extreme(
        st_se_in.loc[:, "n"].values,
        ">",
        th_=[None, SETTING["n_ge"]],
    )
    & kwat.array.check_is_extreme(
        st_se_in.loc[:, "."].values,
        ">",
        th_=[None, SETTING["._ge"]],
    ),
    "Selected",
] = True

In [7]:
assert (1 / 2 < st_se_in.loc[SETTING["se_"], "."]).all(), st_se_in.loc[
    SETTING["se_"], "."
]

st_se_in.loc[SETTING["se_"], "Selected"] = True

st_se_in.to_csv(path_or_buf="../output/statistic_set_information.tsv", sep="\t")

print(st_se_in.loc[:, "Selected"].sum())

st_se_in

31618

                 Selected    N   n         .
chr1p12             False   49  10  0.204082
chr1p13             False  205  98  0.478049
chr1p21             False   99  29  0.292929
chr1p22             False  129  56  0.434109
chr1p31             False  217  60  0.276498
...                   ...  ...  ..       ...
IPA_HDAC8_UP        False    2   0  0.000000
IPA_HDAC8_DN        False    2   2  1.000000
IPA_HDAC10_DN       False    1   1  1.000000
IPA_HIST2H4B_UP     False    3   2  0.666667
IPA_HIST2H4B_DN     False    2   1  0.500000

[33594 rows x 4 columns]

In [8]:
st_se_in.loc[SETTING["se_"], :].sort_values(".")

,Selected,N,n,.
CD4+ in Celiac Disease 2,True,680,377,0.554412
CD4+ in Celiac Disease 1,True,318,199,0.625786
HP_APNEIC_EPISODES_PRECIPITATED_BY_ILLNESS_FATIGUE_STRESS,True,12,9,0.750000
HP_FATIGUE,True,341,284,0.832845
HP_CHRONIC_FATIGUE,True,19,17,0.894737